<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>
    <h1>Edit Recipe Card</h1>
    <body>
        <%- include('../partials/head.ejs') %>

        <form action="/recipes/<%= recipe.id %>?_method=PUT" method="post">
        <fieldset>
          <legend>Edit a <%= recipe.name %></legend>
          <label>
            NAME:<input
              type="text"
              name="name"
              value="<%= recipe.name %>"
              placeholder="enter recipe name"
            />
          </label>
          <label>
            Image Url:<input
              type="text"
              name="img"
              value="<%= recipe.img %>"
              placeholder="enter img url"
            />
          </label>
          <label>
            Ingredients:<input
              type="text"
              name="ingredients"
              value="<%= recipe.ingredients %>"
              placeholder="enter ingredients"
            />
          </label>
          <label>
            Directions:<input
              type="text"
              name="directions"
              value="<%= recipe.directions %>"
              placeholder="enter directions"
            />
          </label>
          <label>
            Notes:<input
              type="text"
              name="notes"
              value="<%= recipe.notes %>"
              placeholder="enter notes"
            />
          </label>
        </fieldset>
          <input type="submit" value="submit recipe card">
      </form>
    </body>
</html>