<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/nav.ejs', {isLoggedIn:isLoggedIn}) %>
    <body>
        <% if(isLoggedIn) {%>
        <a id="newRecipeLink" href="/recipes/new">Add New Recipe</a>
        <%}%>
        <main>
            <div class="recipesContainer">
                <ul style="list-style:none; margin-left:25px">
                <% for(let i =0; i< recipes.length; i++) { %> 
                    <div class="recipeCard">
                    <li>
                    <% if(isLoggedIn) {%>   
                    <a href="/recipes/show/<%=recipes[i].id %>"><%=recipes[i].name%></a>
                    <% }else {%>
                        <span><%=recipes[i].name%></span>
                    <%}%>
                    </li>
                    <li>
                        <img src="<%= recipes[i].img %>">
                    </li>
                    <li>
            <% if(isLoggedIn) {%>
                <span style="font-weight: bold;">ingredients:</span> <%=recipes[i].ingredients %>
                    </li>
                    <li>
                <span style="font-weight: bold;">directions:</span> <%= recipes[i].directions %>
                    </li>
                    <li>
                <span style="font-weight: bold;">notes:</span> <%= recipes[i].notes%>
                    </li>
          

            <form action="/recipes/<%=recipes[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
            </form>
            <% } %>
        </div>
        <% } %>
            </ul>
                </div>


            
            </div>
        </main>
    </body>
</html>