<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/nav.ejs', {isLoggedIn:isLoggedIn}) %>
    <body>
        <% if(isLoggedIn) {%>
        <a id="newRecipeLink" href="/recipes/new">Add New Recipe</a>
        
        <% 
           if(path === 'viewall'){%>
            <a href="/recipes/<%=userId%>">Show My Recipes</a>
           <%}
        }%>

        <main>
            <div class="recipesContainer">
              
                <% for(let i =0; i< recipes.length; i++) { %> 
                <div class="recipeCard">
                <div>
                    <% if(isLoggedIn) {%>   
                    <a style="font-size: 30px;" href="/recipes/show/<%=recipes[i].id %>"><%=recipes[i].name%></a>
                    <% }else {%>
                        <span><%=recipes[i].name%></span>
                    <%}%>
                </div>
                <div class="recipeImg">
                    <img style="height: 250px; width:375px; border-radius: 8px;" src="<%= recipes[i].img %>">
                </div>
                <div class="recipeCardButtons">
                    <% if(isLoggedIn && recipes[i].user?.id=== userId) {%>
                    <form id="deleteLink" action="/recipes/<%=recipes[i].id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
                    <% } %>
                </div>  
                </div>
        <% } %>
          
            </div>
        </main>
    </body>
</html>