<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/header.ejs') %>

    <body>
        <%- include('../partials/head.ejs') %>
        <a href="/user/logout"><button>Logout</button></a>

        <a id="newRecipeLink" href="/recipes/new">Add New Recipe</a>
        <main>

            <div class="recipesContainer">
                <ul style="list-style:none; margin-left:25px">
                <% for(let i =0; i< recipe.length; i++) { %> 
                    <div class="recipeCard">
                    <li>
                    <a href="/recipes/show/<%=recipe[i].id %>"><%=recipe[i].name%></a>
                    </li>
                    <li>
                        <img src="<%= recipe[i].img %>">
                    </li>
                    <li>
                <span style="font-weight: bold;">ingredients:</span> <%=recipe[i].ingredients %>
                    </li>
                    <li>
                <span style="font-weight: bold;">directions:</span> <%= recipe[i].directions %>
                    </li>
                    <li>
                <span style="font-weight: bold;">notes:</span> <%= recipe[i].notes%>
                    </li>
            <form action="/recipes/<%=recipe[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
            </form>
        </div>
        <% } %>
            </ul>
                </div>


            
            </div>
        </main>
    </body>
</html>